#scoreboardDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#levelDiv{
    display: flex;
    flex-direction: column;
}

.switch{
    align-self: center;
    margin-top: 5px;
}