body {
  /* background-color: #0F5132; */
  background: linear-gradient(to right, #0F5132, #bcf5bc);
  background-size: 400% 400%; /* Make background larger to allow movement */
  animation: colorFade 10s ease infinite alternate; /* Animation details */
}

@keyframes colorFade {
  0% {
    background-position: 0% 50%; /* Starting position of the gradient */
  }
  100% {
    background-position: 100% 50%; /* Ending position of the gradient */
  }
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: white;
}

#gameDiv{
  display: flex;
  width: 33vw;
  height: fit-content;
  min-height: 60vh;
  flex-direction: row;
  border-radius: 2%;
  border-color: #132C44;
  background-color: #132C44;
  gap: 1em;
  padding: 1em;
  justify-content: start;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  position: relative;
  width: 4.5em;
  height: 7em;
  /* border: black;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px; */
  /* display: grid; */
  margin: 3px;
  /* background: white; */
  transform-style: preserve-3d;
  transition: transform 0.6s ease;
}

.cardFront{
  position: absolute;
  inset: 0;
  display: grid;
  background: white;
  border: black;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  /* z-index: 1; */
  backface-visibility: hidden;
}

.cardBack{
  position:absolute;
  inset: 0;
  background-color: darkred;
  width: 100%;
  height: 100%;
  /* z-index: 2; */
  transform: rotateY(180deg);
}

.read-the-docs {
  color: #888;
}

.topLeft{
  display: grid;
  grid-column: 1;
  grid-row: 1;
  align-self: start;
  justify-content: start;
  align-content: space-between;
  padding: 0px;
  height:100%;
  border-radius: 3px 3px 0px 0px;
  border: transparent !important;
  padding: 3px;
  /* background-color: black; */
  transition: background-color 0.5s ease, transform 0.5s ease;
}

.bottomRight{
  display: grid;
  justify-content: start;
  align-items: start;
  transform: rotate(180deg);
  padding:0px;
  height:100%;
  border-radius: 0px;
  border: transparent !important;
  padding:3px;
  border-radius: 3px 3px 0px 0px;
  transition: background-color 0.5s ease, transform 0.25s ease;
}
.topLeft:hover{
  background-color: #59d97b;
  border: 0px;
}

.bottomRight:hover{
  background-color: #db4d4d;
  border: 0px;
}
.cardLabel{
  opacity: 0;
}

.bottomRight:hover .cardLabel{
  opacity:1;
}

.topLeft:hover .cardLabel{
  opacity:1;
}

.show{
  background-color: white !important;
}

.flip{
  transform: rotate(180deg);
}
.valSpan{
  text-align: left;
}
.boardRow{
  display: flex;
  flex-direction: row;
}

.switch{
  color: black;
}

#boardList{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-inline-start: 0em !important;
}

#boardDiv{
  margin:auto;
}
#endGameDiv{
  margin:auto;
}

.flipped{
  transform: rotateY(180deg);
}