body {
  /* background-color: #0F5132; */
  background: linear-gradient(to right, #0F5132, #bcf5bc);
  background-size: 400% 400%; /* Make background larger to allow movement */
  animation: colorFade 10s ease infinite alternate; /* Animation details */
}

@keyframes colorFade {
  0% {
    background-position: 0% 50%; /* Starting position of the gradient */
  }
  100% {
    background-position: 100% 50%; /* Ending position of the gradient */
  }
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: white;
}
#gameDiv{
  display: flex;
  flex-direction: row;
  border-radius: 2%;
  border-color: #132C44;
  background-color: #132C44;
  gap: 1em;
  padding: 1em;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  width: 4.5em;
  height: 7em;
  border: black;
  border-width: 1px;
  border-style: solid;
  border-radius: 2mm;
  padding: 3px;
  display: grid;
  margin: 3px;
}

.read-the-docs {
  color: #888;
}

.topLeft{
  display: grid;
  grid-column: 1;
  grid-row: 1;
  align-self: start;
  justify-content: start;
  align-content: space-between;
}

.bottomRight{
  display: grid;
  justify-content: start;
  align-items: start;
  transform: rotate(180deg);
}

.boardRow{
  display: flex;
  flex-direction: row;
}

.switch{
  color: black;
}

#boardList{
  padding-inline-start: 0em !important;
}